// Import Module 
@import "feature/feature.style.less";
body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.app {
    .margin-0 {
        margin: 0 !important;
    }
    .padding-15 {
        padding: 15px;
    }
    .p-l-0 {
        padding-left: 0;
    }
    .p-r-0 {
        padding-right: 0;
    }
    h2 {
        font-weight: 400;
    }
    h3,
    h4 {
        font-weight: 300;
    }
    label {
        font-weight: 400;
    }
    input,
    select,
    textarea,
    button {
        border-radius: 0;
    }
    .app-header {
        background-color: #e1eef6;
        color: #7f9eb2;
    }
    .feature-requests-table {
        // this css for  
        .feature-description-td {
            p {
                display: block;
                /* Fallback for non-webkit */
                display: -webkit-box;
                max-width: 200px;
                //line-height: 1.4; lines-to-show: 3;
                height: 14px*1.4*3;
                /* Fallback for non-webkit */
                margin: 0 auto;
                font-size: 14px;
                line-height: 1.4;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
